.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(237, 235, 234);
}

.divider {
  width: 100%;
  height: 0.5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-content {
  flex: 1;
  max-width: 1170px;
  margin: 0 auto;
  padding: 80px 0;
  width: 100%;
}

@media (max-width: 1200px) {
  .main-content {
    padding: 80px 20px;
  }
}
