.header {
  padding: 40px 0;
  background-color: white;
}

.header-content {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 160px;
}

.logo  {
  height: 24px;
}
.logo img{
  margin-top: -37px;
  width: 150px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 1024px) {
  .header-left {
    gap: 80px;
  }
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    gap: 20px;
  }
  
  .header-left {
    flex-direction: column;
    gap: 20px;
  }
  
  .header-right {
    flex-direction: column;
    gap: 16px;
  }
}
/* top header  */
.top-header {
  background-color: #000;
  color: #fafafa;
  padding: 12px 0;
}

.top-header-content {
  max-width: 1170px; 
  margin: 0 auto;
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 231px;
  padding: 0 20px;
}

.promo-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.promo-text {
  font-size: 14px;
  line-height: 21px;
}

.shop-now-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .top-header-content {
    gap: 20px;
    flex-direction: column;
    text-align: center;
  }
  
  .promo-section {
    flex-direction: column;
    gap: 4px;
  }
}
/* Navigation bar */
.navigation {
  display: flex;
  align-items: center;
  gap: 34px;
}

.nav-link {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #eb3838;
}

@media (max-width: 768px) {
  .navigation {
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
/* Searchbar css */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 7px 10px 7px 30px;
  width: 243px;
}

.search-input {
  flex: 1;
  border: none;
  background: none;
  outline: none;
  font-size: 12px;
  line-height: 18px;
  color: #000;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search-button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .search-bar {
    width: 100%;
    max-width: 300px;
  }
}
