.product-card {
  position: relative;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
  overflow: hidden;
  border: 1px solid hsl(220, 14%, 96%);
  min-height: 500px;
  width:250px;
}

.product-card:hover {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.product-info {
  padding: 1.5rem;
}

.badges-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.discount-badge {
  background-color: #cf1e1e;
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
}

.new-badge {
  background-color: #097a33;
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  margin-left: 30%;
}


.product-image {
  width: 190px;
  height: 180px;
  display: flex;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;

}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.product-name {
  font-weight: 200;
  color: #111827;
  font-size: 1.10rem;
  margin-bottom: 0.75rem;
  line-height: 1.25;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  
}

.price-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.current-price {
  font-size: 1.35rem;
  font-weight: 500;
  color: #111827;
}

.original-price {
  font-size: 1.25rem;
  color: #6b7280;
  text-decoration: line-through;
}

.rating-container {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.stars-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.star {
  width: 1.20rem;
  height: 1.50rem;
}


.review-count {
  font-size: 0.875rem;
  color: #4b5563;
}

.add-to-cart-btn {
  width: 190px;
  background-color: #000000;
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  font-weight: 500;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background-color: #374151;
}

.cart-icon {
  width: 1.25rem;
  height: 1.25rem;
}
